<h1>Welcome to composed page</h1>
<p>This is some paragraph</p>
<FunComp.icons />
<FunComp.with_slot>
  <p style="border-style: solid; border-color: green;">This is paragraph inside function component</p>
</FunComp.with_slot>
<FunComp.with_assign numbers={1..5}/>
<div>
<.live_component module={LvCompLive} id="component_id" />
</div>
